.center_container {
    display: flex;
    justify-self: center;
    margin-top: 1rem;
}


.block2 {
    width: 600px;
}

.border_container {
    border: solid 1px black;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding-right: 3rem;
}

.imground {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}